<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="C:\Users\X541UJ\JQuery\static\js\jquery-3.3.1.min.js"></script>
	<script src="C:\Users\X541UJ\JQuery\static\toggle.js"></script>
	<style>
		.hi{
			font-size: 120%;
			color: red;
		}
	</style>
</head>
<body>
<button style="height: 100px; width: 100px;"></button>
<p>
	Seventeen is love. Scoups, Wonwoo, Mingyu, Vernon, Hoshi, Dino, The8, Jun, Jounghan, Joshua, Woozi, DK, SwaungKwan. 
	Vocal Unit. Performance Unit. Hip Hop Unit. Seventeen's Carat is me. 
</p>
</body>
</html>